.presentacion{
    background-color: rgb(255, 0, 204);
    margin-right: 800px;
    margin-left: 765px;
    margin-bottom: 5000px;
    margin-top: 120px;
    position:absolute;
    top: 220px;
    left: 0px;
    right: 100px;
    bottom: 100px;
    width: 700px;
    height: 100%;
    font-size: 22px;
    color: rgb(162, 37, 37);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.educacion{
    background-color: rgb(0, 158, 147);
    width: 700px;
    height: 100%;
    position: absolute;
    top: 220px;
    left: 0px;
    bottom: 0px;
    right: 100px;
    margin-right: 80px;
    margin-left: 6px;
    margin-bottom: 5000px;
    margin-top: 120px;
}
.texto{
    color: white;
    margin-right: 100px;
    margin-left: 75px;
    margin-bottom: 500px;
    margin-top: 100px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.texto1{
    color: white;
    margin-right: 100px;
    margin-left: 75px;
    margin-bottom: 500px;
    margin-top: 100px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}